@import 'tailwindcss';

@layer components {
    .timeline-item {
        @apply bg-gray-100 dark:bg-gray-800 shadow-md rounded-lg p-4 mb-4 ml-6 relative;
        @variant last {
            @apply mb-0;
        }
        @variant before {
            /* Arrow pointing left */
            @apply absolute top-1/2 left-0 transform -translate-y-1/2 -translate-x-[100%] w-0 h-0 border-t-8 border-b-8 border-r-8 border-transparent dark:border-r-gray-800 border-r-gray-100;
            content: '';
        }
        @variant after {
            /* Dot on the timeline */
            @apply absolute top-1/2 -left-5.5 transform -translate-y-1/2 -translate-x-1/2 w-4 h-4 bg-gray-300 dark:bg-gray-700 rounded-full border-2 border-white dark:border-gray-900 pointer-events-none;
            content: '';
        }
        @variant hover {
            @apply dark:brightness-110 brightness-90;
            @variant after {
                @apply brightness-[unset] dark:brightness-[unset];
            }
        }
    }
    .timeline-item.active {
        @apply bg-blue-200 dark:bg-blue-900;
        @variant before {
            /* Arrow pointing right */
            @apply border-r-blue-200 dark:border-r-blue-900;
        }
        @variant after {
            /* Dot on the timeline */
            @apply bg-blue-500 dark:bg-blue-700;
        }
    }
    .timeline-content {
        @apply max-h-0 overflow-hidden;
        transition: max-height 0.2s ease-in-out;
    }
}
